<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
        <!-- Product Tabs  -->
        <section>
          <ul class="nav nav-pills">
            <li ng-class="{ active:tab.isSet(1) }">
              <a href ng-click="tab.setTab(1)">Description</a>
            </li>
            <li ng-class="{ active:tab.isSet(2) }">
              <a href ng-click="tab.setTab(2)">Specs</a>
            </li>
            <li ng-class="{ active:tab.isSet(3) }">
              <a href ng-click="tab.setTab(3)">Reviews</a>
            </li>
            <li ng-class="{ active:tab.isSet(4) }">
              <a href ng-click="tab.setTab(4)">Orders</a>
            </li>
          </ul>
          <!--  Description Tab's Content  -->
          <div ng-show="tab.isSet(1)" ng-include="'product-description.html'"></div>

      		 <!--  Spec Tab's Content  -->
          <div product-specs ng-show="tab.isSet(2)"></div>


          <!--  Review Tab's Content  -->
			<product-reviews ng-show="tab.isSet(3)"></product-reviews>


          <!--  Order Details Tab's Content  -->
          <div product-orderDetails ng-show="tab.isSet(4)"ng-include="'product-orderDetails.html'"></div>

           </section>
</body>
</html>
